.border-red {
  border: 1px solid red;
}
.border-blue {
  border: 1px solid blue;
}
.margin-zero {
  margin: 0 !important;
}
.padding-zero {
  padding: 0 !important;
}
.fixed-height {
  height: 90vh !important;
}
